* text=auto eol=lf

# Isolate binary files in case the auto-detection algorithm fails and marks them as text files (which could brick them).
*.{7z,gif,gz,jpg,jpeg,pdb,png,tar,tgz,webp,woff,woff2,zip} binary

#(Rn.BuildScriptHelper){
#  "version": "1.0.107"
#}(END)